In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Cargando CSV

In [2]:
df = pd.read_csv('viviendas_.csv')
df.head()

                                           viviendas
0  Nueva en el Mercado\n1/3\nAnterior\nSiguiente\...
1  Nueva en el Mercado\n1/12\nAnterior\nSiguiente...
2  Nueva en el Mercado\n1/8\nAnterior\nSiguiente\...
3  Nueva en el Mercado\n1/3\nAnterior\nSiguiente\...
4  Nueva en el Mercado\n1/9\nAnterior\nSiguiente\...

# Limpieza y formateo de Datos

## Separando valores en columnas

In [3]:
df[['estado', 'num_pisos', 'anterior', 'siguiente', 'tipo','titulo', 'direccion', 'metros', 'estacionamiento', 'precio', 'detalle']] = df['viviendas'].str.split('\n', expand=True)

## Eliminando valores no necesitados

In [4]:
df.drop(columns=['viviendas','estado','num_pisos','anterior','siguiente','detalle'], inplace=True)

In [5]:
df = df.drop(df[df['tipo'] == 'Terreno En Venta'].index)

## Separar columnas de terrenos, baños estacionamientos y piscina

In [6]:
df[['terreno', 'construccion']] = df['metros'].str.split('Terreno•', expand=True)

In [7]:
df.drop(columns=['metros'], inplace=True)

In [8]:
df[['hab', 'baños', 'estac', 'pisc']] = df['estacionamiento'].str.extract(r'(\d+) Hab\. (\d+) Baños (\d+) Estac\. (Piscina)?')

In [9]:
df.drop(columns=['estacionamiento'], inplace=True)

In [10]:
df.head()

,tipo,titulo,direccion,precio,terreno,construccion,hab,baños,estac,pisc
0,Apartamento En Venta,En Venta Apartamento Lechería. C.R Entre Mares,"Av. Américo Vespucio, Diego Bautista Urbaneja,...",$35.000,45 m²,45 m² Construcción,1,1,1,Piscina
1,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",$245.000,194 m²,164 m² Construcción,NaN,NaN,NaN,NaN
2,Apartamento En Renta,Apatamento En Alquiler Conjunto Residencial Ag...,"Arismendi, Diego Bautista Urbaneja, Lechería, ...",$300,65 m²,65 m² Construcción,1,1,1,Piscina
4,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",$700,120 m²,120 m² Construcción,3,2,2,Piscina
5,Apartamento En Renta,Se Alquila Hermoso Apartamento En El Conjunto ...,"1, Diego Bautista Urbaneja, Lechería, Anzoategui",$350,46 m²,46 m² Construcción,1,1,1,NaN

## Cambiando tipo de valores a float

### Precios

In [11]:
df['precio'] = df['precio'].str.replace('$', '')

<ipython-input-11-712d4a512a29>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['precio'] = df['precio'].str.replace('$', '')

In [12]:
df['precio'] = df['precio'].str.replace('.', '')

<ipython-input-12-8b55ea7c383c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['precio'] = df['precio'].str.replace('.', '')

In [13]:
df['precio'].unique()

array(['35000', '245000', '300', '700', '350', '400', '295000', '42000',
       '250000', '145000', '55000', 'Ver Detalle', '38000', '25000',
       '40000', '550', '450', '1000', '250', '83000', '800', '24000',
       '79000', '170000', '80000', '70000', '43000', '350000', '125000',
       '1300000', '500', '18500', '420000', '110000', '600', '1500', None,
       '650', '210000', '255000', '85', '26000', '950', '120000', '2000',
       '1400', '100000', '19000', '1300', '1200', '220000', '85000',
       '65000', '150000', '89000', '60000', '95000', '117000', '45000',
       '180'], dtype=object)

In [14]:
df = df.drop(df[df['precio'] == 'Ver Detalle'].index)

In [15]:
df = df.drop(df[df['precio'] == None].index)

In [16]:
df .shape

(88, 10)

In [17]:
df.precio=df['precio'].astype(float)

### Terreno

In [18]:
df['terreno'] = df['terreno'].str.replace(' m²', '')

In [19]:
df['terreno'] = df['terreno'].str.replace(' ', '')

In [20]:
df['terreno'].unique()

array(['45', '194', '65', '120', '46', '135', '509', '375', '96', '86',
       '29', '83', '72', '85', '1.200', '40', '118', '95', '94', '109',
       '206', '55', '66', '165', '150', '800', '81', '200', '0', '90',
       '77', '273', '$49.000', '98', '1.964', '229', '97', '57', '215',
       '82', '75', '112', '70', '28', '103', '132', '202', '63', '117',
       '235', '238', '113', '18', '173', '190', '125', '106', '56', '100',
       '10', '89'], dtype=object)

In [21]:
df = df.drop(df[df['terreno'] == '$49.000'].index)

In [22]:
df.terreno=df['terreno'].astype(float)

### Construccion

In [23]:
df['construccion'] = df['construccion'].str.replace(' m²', '')

In [24]:
df['construccion'].unique()

array(['45 Construcción', '164 Construcción', '65 Construcción',
       '120 Construcción', '46 Construcción', '135 Construcción',
       '400 Construcción', '375 Construcción', '96 Construcción',
       '86 Construcción', '29 Construcción', '83 Construcción',
       '72 Construcción', '85 Construcción', '700 Construcción',
       '40 Construcción', '118 Construcción', '95 Construcción',
       '94 Construcción', '109 Construcción', '206 Construcción',
       '55 Construcción', '66 Construcción', '165 Construcción',
       '150 Construcción', '800 Construcción', '81 Construcción',
       '391 Construcción', '235 Construcción', '90 Construcción',
       '77 Construcción', '273 Construcción', '98 Construcción',
       '1.964 Construcción', '229 Construcción', '92 Construcción',
       '97 Construcción', '57 Construcción', '215 Construcción',
       '82 Construcción', '75 Construcción', '112 Construcción',
       '70 Construcción', '28 Construcción', '103 Construcción',
       '132 Construcción', '202 Construcción', '63 Construcción',
       '117 Construcción', '238 Construcción', '113 Construcción',
       '18 Construcción', '173 Construcción', '190 Construcción',
       '125 Construcción', '180 Construcción', '168 Construcción',
       '106 Construcción', '58 Construcción', '100 Construcción',
       '10 Construcción', '89 Construcción'], dtype=object)

In [25]:
df['construccion'] = df['construccion'].str.replace(' Construcción', '')

In [26]:
df.construccion = df['construccion'].astype(float)

### Habitaciones

In [27]:
df['hab'].unique()

array(['1', nan, '3', '6', '4', '2', '21', '5'], dtype=object)

In [28]:
df = df.drop(df[df['hab'] == None].index)

In [29]:
df.hab = df['hab'].astype(float)

### Baños

In [30]:
df.baños = df['baños'].astype(float)

### Estacionamiento

In [31]:
df.estac=df['estac'].astype(float)

### Piscina

In [32]:
df['pisc'] = df['pisc'].fillna(False)

In [33]:
df['pisc']

0     Piscina
1       False
2     Piscina
4     Piscina
5       False
       ...
94    Piscina
95      False
97      False
98    Piscina
99      False
Name: pisc, Length: 87, dtype: object

In [34]:
df['pisc'] = df['pisc'] == 'Piscina'

In [35]:
df.head()

,tipo,titulo,direccion,precio,terreno,construccion,hab,baños,estac,pisc
0,Apartamento En Venta,En Venta Apartamento Lechería. C.R Entre Mares,"Av. Américo Vespucio, Diego Bautista Urbaneja,...",35000.0,45.0,45.0,1.0,1.0,1.0,True
1,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",245000.0,194.0,164.0,NaN,NaN,NaN,False
2,Apartamento En Renta,Apatamento En Alquiler Conjunto Residencial Ag...,"Arismendi, Diego Bautista Urbaneja, Lechería, ...",300.0,65.0,65.0,1.0,1.0,1.0,True
4,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",700.0,120.0,120.0,3.0,2.0,2.0,True
5,Apartamento En Renta,Se Alquila Hermoso Apartamento En El Conjunto ...,"1, Diego Bautista Urbaneja, Lechería, Anzoategui",350.0,46.0,46.0,1.0,1.0,1.0,False

# EDA

In [36]:
df.dtypes

tipo             object
titulo           object
direccion        object
precio          float64
terreno         float64
construccion    float64
hab             float64
baños           float64
estac           float64
pisc               bool
dtype: object

In [37]:
df.isnull()

,tipo,titulo,direccion,precio,terreno,construccion,hab,baños,estac,pisc
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,True,True,True,False
97,False,False,False,False,False,False,True,True,True,False
98,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,True,True,True,False

In [38]:
df.isnull().sum(axis=0)

tipo             0
titulo           0
direccion        0
precio           0
terreno          0
construccion     0
hab             44
baños           44
estac           44
pisc             0
dtype: int64

In [39]:
df.describe()

             precio     terreno  construccion        hab      baños      estac
count  8.700000e+01   87.000000     87.000000  43.000000  43.000000  43.000000
mean   7.967374e+04  120.680046    137.091540   3.302326   2.558140   2.069767
std    1.617677e+05  110.235778    122.693558   3.035778   1.350526   1.502305
min    8.500000e+01    0.000000      1.964000   1.000000   1.000000   0.000000
25%    7.000000e+02   71.000000     75.000000   2.000000   2.000000   1.000000
50%    2.600000e+04   95.000000     98.000000   3.000000   2.000000   2.000000
75%    9.500000e+04  133.500000    164.500000   3.000000   3.000000   2.000000
max    1.300000e+06  800.000000    800.000000  21.000000   8.000000   9.000000

In [40]:
df['hab'].isnull()

0     False
1      True
2     False
4     False
5     False
      ...
94    False
95     True
97     True
98    False
99     True
Name: hab, Length: 87, dtype: bool

In [41]:
df.loc[97]

tipo                                         Apartamento En Renta
titulo                            CONJUNTO RESIDENCIAL MARINA MAR
direccion       SECTOR LA PENINSULA, Diego Bautista Urbaneja, ...
precio                                                      180.0
terreno                                                     229.0
construccion                                                229.0
hab                                                           NaN
baños                                                         NaN
estac                                                         NaN
pisc                                                        False
Name: 97, dtype: object

### Valores Nulos
Al ser una gran cantidad de valores nulos para hab, baños y estacionamientos, se haran dos modelos uno con estos valores usando solo el terreno y la construccion para predecir el valor de las cosas y el otro modelo, se eliminaran estos valores para predecir con todas las variables