In [1]:
import pandas as pd

### Cargando CSV

In [3]:
df = pd.read_csv('viviendas_totales.csv')
df.head()

                                           viviendas
0  Nueva en el Mercado\n1/9\nAnterior\nSiguiente\...
1  Nueva en el Mercado\n1/6\nAnterior\nSiguiente\...
2  Nueva en el Mercado\n1/12\nAnterior\nSiguiente...
3  Nueva en el Mercado\n1/3\nAnterior\nSiguiente\...
4  Nueva en el Mercado\n1/9\nAnterior\nSiguiente\...

### Limieza y formateo de datos

In [4]:
df = df['viviendas'].str.split('\n', expand=True)

In [5]:
df.columns = ['mapa', 'pagina', 'anterior', 'siguiente', 'tipo', 'titulo', 'direccion', 'metros', 'caracteristicas', 'precio', 'detalle','None']

In [6]:
df.head()

,mapa,pagina,anterior,siguiente,tipo,titulo,direccion,metros,caracteristicas,precio,detalle,None
0,Nueva en el Mercado,1/9,Anterior,Siguiente,Apartamento En Renta,Apartamento En Alquiler En Lecheria Resd Tepui...,"Diego Bautista Urbaneja, Lechería, Anzoategui",42 m² Terreno•42 m² Construcción,1 Hab. 1 Baños 1 Estac. Piscina,$270,Ver Detalle,None
1,Nueva en el Mercado,1/6,Anterior,Siguiente,Casa En Venta,Casa Bote C,"sector aquavilla, Diego Bautista Urbaneja, Lec...",201 m² Terreno•120 m² Construcción,3 Hab. 3 Baños,$2.000,Ver Detalle,None
2,Nueva en el Mercado,1/12,Anterior,Siguiente,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",194 m² Terreno•164 m² Construcción,3 Hab. 3 Baños 1 Estac.,$245.000,Ver Detalle,None
3,Nueva en el Mercado,1/3,Anterior,Siguiente,Terreno En Venta,TERRENO EN VENTA,"Calle Sur 4, Diego Bautista Urbaneja, Lechería...",1.301 m² Terreno,$330.000,Ver Detalle,None,None
4,Nueva en el Mercado,1/9,Anterior,Siguiente,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",120 m² Terreno•120 m² Construcción,3 Hab. 2 Baños 2 Estac. Piscina,$700,Ver Detalle,None

Mover los precios que esten en caracteristicas a precio

In [7]:
mask = pd.notna(df['caracteristicas']) & df['caracteristicas'].str.startswith('$')
df.loc[mask, 'precio'] = df.loc[mask, 'caracteristicas']

In [8]:
df['caracteristicas'] = df['caracteristicas'].apply(lambda x: None if x is None else x if not x.startswith('$') else None)

### Eliminando columnas no deseadas

In [9]:
df.drop(columns=['mapa','pagina','anterior','siguiente','detalle','None'], inplace=True)

In [10]:
df = df.drop(df[df['tipo'] == 'Terreno En Venta'].index)

In [11]:
df.head()

,tipo,titulo,direccion,metros,caracteristicas,precio
0,Apartamento En Renta,Apartamento En Alquiler En Lecheria Resd Tepui...,"Diego Bautista Urbaneja, Lechería, Anzoategui",42 m² Terreno•42 m² Construcción,1 Hab. 1 Baños 1 Estac. Piscina,$270
1,Casa En Venta,Casa Bote C,"sector aquavilla, Diego Bautista Urbaneja, Lec...",201 m² Terreno•120 m² Construcción,3 Hab. 3 Baños,$2.000
2,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",194 m² Terreno•164 m² Construcción,3 Hab. 3 Baños 1 Estac.,$245.000
4,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",120 m² Terreno•120 m² Construcción,3 Hab. 2 Baños 2 Estac. Piscina,$700
5,Apartamento En Renta,Se Alquila Hermoso Apartamento En El Conjunto ...,"1, Diego Bautista Urbaneja, Lechería, Anzoategui",46 m² Terreno•46 m² Construcción,1 Hab. 1 Baños 1 Estac. Mascotas,$350

In [12]:
df.shape

(388, 6)

### Separar columnas de terrenos, baños estacionamientos y piscina

In [13]:
df[['terreno', 'construccion']] = df['metros'].str.split('Terreno•', expand=True)

In [14]:
df.drop(columns=['metros'], inplace=True)

In [15]:
df[['hab', 'baños', 'estac', 'pisc']] = df['caracteristicas'].str.extract(r'(\d+) Hab\. (\d+) Baños (\d+) Estac\. (Piscina)?')

In [16]:
df.drop(columns=['caracteristicas'], inplace=True)

In [17]:
df.head()

,tipo,titulo,direccion,precio,terreno,construccion,hab,baños,estac,pisc
0,Apartamento En Renta,Apartamento En Alquiler En Lecheria Resd Tepui...,"Diego Bautista Urbaneja, Lechería, Anzoategui",$270,42 m²,42 m² Construcción,1,1,1,Piscina
1,Casa En Venta,Casa Bote C,"sector aquavilla, Diego Bautista Urbaneja, Lec...",$2.000,201 m²,120 m² Construcción,NaN,NaN,NaN,NaN
2,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",$245.000,194 m²,164 m² Construcción,NaN,NaN,NaN,NaN
4,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",$700,120 m²,120 m² Construcción,3,2,2,Piscina
5,Apartamento En Renta,Se Alquila Hermoso Apartamento En El Conjunto ...,"1, Diego Bautista Urbaneja, Lechería, Anzoategui",$350,46 m²,46 m² Construcción,1,1,1,NaN

### Cambiar los tipos de valores a float

In [18]:
df['precio'] = df['precio'].str.replace('$', '')

<ipython-input-18-712d4a512a29>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['precio'] = df['precio'].str.replace('$', '')

In [19]:
df['precio'] = df['precio'].str.replace('.', '')

<ipython-input-19-8b55ea7c383c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['precio'] = df['precio'].str.replace('.', '')

In [20]:
df['precio'].unique()

array(['270', '2000', '245000', '700', '350', '400', '295000', '42000',
       '250000', '145000', '55000', '300', '31000', '38000', '25000',
       '40000', '550', '1000', '45000', '250', '83000', '450', '800',
       '24000', '79000', '170000', '80000', '70000', '43000', '120000',
       '350000', '125000', '1300000', '500', '18500', '420000', '110000',
       '600', '1500', None, '95000', '650', '210000', '255000', '750',
       '85', '26000', '950', '1400', '100000', '19000', '1300', '1200',
       '220000', '35000', '3000', '85000', '65000', '150000', '89000',
       '60000', '117000', '180', '37000', '130000', '240000', '930000',
       '49500', '57500', '1100', '70', '130', '14000', '100', '900',
       '99500', '42800', '33800', '480000', '260000', '1580', '28000',
       '19800', '190000', '46000', '20000', '1150', '440000', '280000',
       '230000', '3500', '300000', '120', '430000', '365000', '340000',
       '135000', '450000', '72000', '259000', '28', '77000', '380000',
       '32000', '140000', '90000', '63000', '50000', '3000000', '1000000',
       '380', '330', '1600000', '49600', '75000', '52500', '280', '60',
       '285000', '80', '390000', '432000', '68000', '950000', '5000',
       '275000', '160', '128000', '52000', '19500', '49000', '82000',
       '160000', '30000', '50', '90', '252000', '630000', '200', '155000',
       '990000', '180000', '96000', '410000', '36000', '590000', '2500',
       '92000', '248000', '105000', '7000', '1350', '1600', '1690000',
       '175000', '16000', '44000', '550000', '290000', '800000', '650000',
       '530', '158000', '1450000', '1050000', '320000', '490000',
       '1500000', '185000'], dtype=object)

In [21]:
df.precio=df['precio'].astype(float)

### Terreno

In [22]:
df['terreno'] = df['terreno'].str.replace(' m²', '')

In [23]:
df['terreno'] = df['terreno'].str.replace(' ', '')

In [24]:
df['terreno'].unique()

array(['42', '201', '194', '120', '46', '135', '509', '375', '96', '86',
       '30', '26', '29', '83', '72', '1.200', '33', '40', '118', '95',
       '94', '109', '206', '55', '66', '145', '165', '150', '800', '81',
       '200', '0', '90', '77', '273', '$49.000', '180', '98', '1.964',
       '229', '170', '97', '57', '215', '82', '75', '112', '70', '28',
       '103', '84', '132', '202', '63', '117', '235', '85', '238', '113',
       '18', '173', '50', '27', '190', '125', '106', '56', '100', '10',
       '16', '89', '43', '140', '87', '99', '121', '1.059', '45', '52',
       '160', '111', '475', '41', '88', '228', '1', '148', '255', '60',
       '67', '230', '53', '203', '1.000', '21', '1.084', '186', '212',
       '352', '364', '357', '220', '250', '65', '276', '93', '114', '390',
       '22', '101', '327', '456', '183', 'VerDetalle', '162', '155', '62',
       '420', '975', '108', '130', '102', '4.000', '1.450', '1.445',
       '137', '76', '494', '35', '47', '450', '254', '115', '110', '280',
       '503', '44', '362', '51', '71', '68', '240', '158', '92', '204',
       '14', '164', '1.030', '1.045', '34', '1.400', '171', '225', '386',
       '1.164', '1.027', '256', '129', '$150.000', '305', '187', '820',
       '300', '142', '1.308', '1.360', '310', '69', '20', '272', '133',
       '700', '177', '48', '1.100', '128', '131', '1.928', '1.542',
       '3.000', '380', '604', '152', '395', '210'], dtype=object)

In [25]:
df = df.drop(df[df['terreno'] == 'VerDetalle'].index)

In [26]:
df = df.drop(df[df['terreno'] == '$150.000'].index)

In [27]:
df = df.drop(df[df['terreno'] == '$49.000'].index)

In [28]:
df.terreno=df['terreno'].astype(float)

### Construccion

In [29]:
df['construccion'] = df['construccion'].str.replace(' m²', '')

In [30]:
df['construccion'].unique()

array(['42 Construcción', '120 Construcción', '164 Construcción',
       '46 Construcción', '135 Construcción', '400 Construcción',
       '375 Construcción', '96 Construcción', '86 Construcción',
       '30 Construcción', '26 Construcción', '29 Construcción',
       '83 Construcción', '72 Construcción', '700 Construcción',
       '33 Construcción', '40 Construcción', '118 Construcción',
       '95 Construcción', '94 Construcción', '109 Construcción',
       '206 Construcción', '55 Construcción', '66 Construcción',
       '145 Construcción', '165 Construcción', '150 Construcción',
       '800 Construcción', '81 Construcción', '391 Construcción',
       '235 Construcción', '90 Construcción', '77 Construcción',
       '273 Construcción', '180 Construcción', '98 Construcción',
       '1.964 Construcción', '229 Construcción', '170 Construcción',
       '92 Construcción', '97 Construcción', '57 Construcción',
       '215 Construcción', '82 Construcción', '75 Construcción',
       '112 Construcción', '70 Construcción', '28 Construcción',
       '103 Construcción', '84 Construcción', '132 Construcción',
       '202 Construcción', '63 Construcción', '117 Construcción',
       '85 Construcción', '238 Construcción', '113 Construcción',
       '18 Construcción', '173 Construcción', '50 Construcción',
       '27 Construcción', '190 Construcción', '125 Construcción',
       '168 Construcción', '106 Construcción', '58 Construcción',
       '100 Construcción', '10 Construcción', '16 Construcción',
       '89 Construcción', '43 Construcción', '140 Construcción',
       '87 Construcción', '99 Construcción', '250 Construcción',
       '1.059 Construcción', '45 Construcción', '52 Construcción',
       '111 Construcción', '134 Construcción', '475 Construcción',
       '56 Construcción', '41 Construcción', '88 Construcción',
       '228 Construcción', '600 Construcción', '148 Construcción',
       '255 Construcción', '60 Construcción', '67 Construcción',
       '230 Construcción', '24 Construcción', '53 Construcción',
       '196 Construcción', '1.700 Construcción', '21 Construcción',
       '450 Construcción', '186 Construcción', '194 Construcción',
       '126 Construcción', '280 Construcción', '352 Construcción',
       '364 Construcción', '1.037 Construcción', '220 Construcción',
       '65 Construcción', '276 Construcción', '93 Construcción',
       '114 Construcción', '390 Construcción', '22 Construcción',
       '270 Construcción', '101 Construcción', '187 Construcción',
       '201 Construcción', '300 Construcción', '162 Construcción',
       '155 Construcción', '62 Construcción', '253 Construcción',
       '975 Construcción', '108 Construcción', '130 Construcción',
       '102 Construcción', '4.000 Construcción', '1.450 Construcción',
       '870 Construcción', '137 Construcción', '76 Construcción',
       '35 Construcción', '47 Construcción', '115 Construcción',
       '160 Construcción', '110 Construcción', '281 Construcción',
       '44 Construcción', '362 Construcción', '1.070 Construcción',
       '51 Construcción', '71 Construcción', '217 Construcción',
       '69 Construcción', '240 Construcción', '158 Construcción',
       '212 Construcción', '121 Construcción', '14 Construcción',
       '1.030 Construcción', '618 Construcción', '34 Construcción',
       '200 Construcción', '171 Construcción', '480 Construcción',
       '805 Construcción', '527 Construcción', '256 Construcción',
       '420 Construcción', '305 Construcción', '142 Construcción',
       '68 Construcción', '663 Construcción', '20 Construcción',
       '272 Construcción', '231 Construcción', '133 Construcción',
       '177 Construcción', '48 Construcción', '128 Construcción',
       '131 Construcción', '950 Construcción', '54 Construcción',
       '266 Construcción', '490 Construcción', '604 Construcción',
       '136 Construcción', '116 Construcción', '1.000 Construcción'],
      dtype=object)

In [31]:
df['construccion'] = df['construccion'].str.replace(' Construcción', '')

In [32]:
df.construccion = df['construccion'].astype(float)

### Habitaciones

In [33]:
df['hab'].unique()

array(['1', nan, '3', '6', '4', '2', '21', '5', '0', '7', '8'],
      dtype=object)

In [34]:
df = df.drop(df[df['hab'] == None].index)

In [35]:
df.hab = df['hab'].astype(float)

### Baños

In [36]:
df.baños = df['baños'].astype(float)

### Estacionamiento

In [37]:
df.estac=df['estac'].astype(float)

### Piscina¶

In [38]:
df['pisc'] = df['pisc'].fillna(False)

In [39]:
df['pisc']

0      Piscina
1        False
2        False
4      Piscina
5        False
        ...
395      False
396      False
397      False
398      False
399      False
Name: pisc, Length: 385, dtype: object

In [40]:
df['pisc'] = df['pisc'] == 'Piscina'

In [41]:
df.head()

,tipo,titulo,direccion,precio,terreno,construccion,hab,baños,estac,pisc
0,Apartamento En Renta,Apartamento En Alquiler En Lecheria Resd Tepui...,"Diego Bautista Urbaneja, Lechería, Anzoategui",270.0,42.0,42.0,1.0,1.0,1.0,True
1,Casa En Venta,Casa Bote C,"sector aquavilla, Diego Bautista Urbaneja, Lec...",2000.0,201.0,120.0,NaN,NaN,NaN,False
2,Apartamento En Venta,Lujoso Apartamento Dúplex En Planta Baja Condo...,"Avenida La Costa, Diego Bautista Urbaneja, Lec...",245000.0,194.0,164.0,NaN,NaN,NaN,False
4,Apartamento En Renta,Alquiler Apartamento En El Conjunto Residencia...,"Sector la Salina, Diego Bautista Urbaneja, Lec...",700.0,120.0,120.0,3.0,2.0,2.0,True
5,Apartamento En Renta,Se Alquila Hermoso Apartamento En El Conjunto ...,"1, Diego Bautista Urbaneja, Lechería, Anzoategui",350.0,46.0,46.0,1.0,1.0,1.0,False

In [42]:
df.to_csv('viviendas_totales_limpiados.csv', index=False)

## formato .csv exportado

In [43]:
df.shape

(385, 10)